<h1>Dashboard</h1>
<h3>Welcome {{name}}</h3>

{{#if lessons}}
<p>Here are your lessons</p>
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each lessons}}
        <tr>
            <td><a href="/lessons/{{_id}}">{{title}}</a></td>
            {{!-- formatDate called in app.js --}}
            <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td> 
            <td><span class="dash-status">{{status}}</span></td>
            <td>
                <a href="/lessons/edit/{{_id}}" class="btn btn-float">
                <i class="fas fa-edit"></i></a>
                
                <form action="/lessons/{{_id}}?_method=DELETE" method="POST" id="delete-form" >
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{ else}}
    <p>You have not created any lessons</p>
{{/if}}

